:root {
    --dark-background: #454545;
    --dark-container: #3d3d3d;
}

.dark-mode {
    color: var(--light-background);
    background-color: var(--dark-background);
    transition: background-color 0.9s ease-in-out;
}

.dark-mode button {
    background-color: var(--button-color);
    color: var(--light-background);
}

.dark-mode button:hover {
    background-color: var(--button-hover-color);
}

.dark-mode .dropdown-content {
    background-color: var(--dark-container);
}

.dark-mode .dropdown-content a {
    color: var(--light-background);
}

.dark-mode .chart-container {
    background-color: var(--dark-container);
}

.dark-mode .inc-exp-container {
    background-color: var(--dark-container);
}

.dark-mode .list li {
    background-color: var(--dark-container);
    color: var(--light-background);
}

.dark-mode .list li.plus {
    border-bottom: 3px solid #00ff6a;
}

.dark-mode .list li.minus {
    border-bottom: 3px solid #ff5252;
}

.dark-mode .delete-btn {
    background-color: #ff5252;
    color: var(--light-background);
}

.dark-mode .add-transaction-section {
    background-color: var(--dark-container);
}

.dark-mode .dropdown-content a:hover {
    background-color: var(--button-hover-color);
}

.dark-mode .form-button {
    background-color: var(--button-color);
    color: var(--light-background);
}

.dark-mode .form-button:hover {
    background-color: var(--button-hover-color);
}
