:root {
    --dark-background:#454545;
    --dark-container: #3D3D3D;
}


.dark-mode {
    color: var(--light-background); /* Dark mode default color */
    background-color: var(--dark-background); /* Dark mode default background */
    transition: background-color 0.9s ease-in-out;
}


.dark-mode button {
    background-color: var(--button-color);
    color: var(--light-background);

}

.dark-mode button:hover {
    background-color: var(--button-hover-color); /* Dark mode hover background */
}

/* Dark mode styles for dropdown */
.dark-mode .dropdown-content {
    background-color: var(--dark-container); /* Dark mode dropdown background */
}

.dark-mode .dropdown-content a {
    color: var(--light-background); /* Dynamic text color */
}

/* Dark mode styles for charts */
.dark-mode .chart-container {
    background-color: var(--dark-container); /* Dark mode chart background */
}

/* Dark mode styles for transactions */
.dark-mode .inc-exp-container {
    background-color: var(--dark-container); /* Dark mode transaction container background */
}

.dark-mode .list li {
    background-color: var(--dark-container); /* Dark mode list item background */
    color: var(--light-background); /* Dark mode text color */
}

.dark-mode .list li.plus {
    border-bottom: 3px solid #00ff6a; /* Dark mode border color for plus transaction */
}

.dark-mode .list li.minus {
    border-bottom: 3px solid #ff5252; /* Dark mode border color for minus transaction */
}

.dark-mode .delete-btn {
    background-color: #ff5252; /* Dark mode delete button background */
    color: var(--light-background); /* Dark mode delete button text color */
}

.dark-mode .add-transaction-section {
    background-color: var(--dark-container); /* Dark mode add transaction section background */
}

.dark-mode .dropdown-content a:hover {
    background-color: var(--button-hover-color); /* Dropdown hover background color */
}

.dark-mode .form-button {
    background-color: var(--button-color);
    color: var(--light-background);
}

.dark-mode .form-button:hover {
    background-color: var(--button-hover-color);
}

