.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 50px;
    letter-spacing: 1px;
    margin: 15px 0;
}

.money.plus {
    color: #00c853;
}

.money.minus {
    color: #ff5252;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.list li {
    background-color: var(--root-color);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.list li.plus {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, transparent 90%, #00c853 100%) 1;
}

.list li.minus {
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, transparent 90%, #ff1900 100%) 1;
}

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-100%, -50%);
    transition: opacity 0.3s ease;
}

.income-expense-div {
    padding-bottom: 20px;
}

.balance-div {
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .delete-btn {
        right: 18%;
    }
    .money {
        font-size: 33px;
    }
}
